@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-secondary: #8b5cf6;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 border-slate-200 antialiased;
  }
}
